/.nyc_output
/coverage
/node_modules
/tests/fixtures/integrations
/tests/fixtures/**/*.vue
/tests/fixtures/**/*.yaml
/tests/fixtures/**/*.yml
/assets
/dist
/lib
!/.github
!/.vscode
!/.devcontainer
!/docs/.vuepress
!/docs/.vitepress
/docs/.vuepress/dist
/docs/.vuepress/components/demo/demo-code.js
/docs/.vitepress/cache
/docs/.vitepress/build-system/shim
/docs/.vitepress/dist
