/.nyc_output
/coverage
/lib
/node_modules
/tests/fixtures/integrations
/tests/fixtures/**/*.vue
/tests/fixtures/**/*.yaml
/tests/fixtures/**/*.yml
/assets
/dist
/docs/.vuepress/dist
/docs/.vuepress/components/demo/demo-code.js
!/.github
!/.vscode
!/docs/.vuepress
